{{if .Site.Params.googletagmanager }}
  {{ if hasPrefix .Site.Params.googletagmanager "GTM-" -}}
  <!-- Google Tag Manager -->
  <script>
    var _hsp = (window._hsp = window._hsp || []);
    _hsp.push(["addPrivacyConsentListener", function (consent) {
        if (consent.allowed) {
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','{{ .Site.Params.googletagmanager }}');
        }
    }])
  </script>
  <!-- End Google Tag Manager -->
  {{- else }}
  {{ errorf "This Google Tag Manager container IDs should begin with 'GTM-', this one is invalid: %s" .Site.Params.googletagmanager }}
  {{- end }}
{{- end }}