{{- $file := .Get 0 -}}
{{- $ext := (.Get 1 | default "bash" ) -}}
{{- $opts := .Get 2 -}}
{{- $text := "" -}}
{{- $url := "" -}}

{{ if (fileExists (print .Page.File.Dir $file)) -}}
  <!-- First try as relative path -->
  {{- $text = readFile (print .Page.File.Dir $file) -}}
  {{- $url = (print .Page.Site.BaseURL .Page.File.Dir $file) -}}
{{ else }}
  <!-- Then as project-relative path-->
  {{- $text = readFile $file -}}
  {{- $url = (print .Page.Site.BaseURL $file) -}}
{{- end }}

<div class="hl-container">
  <div class="toolbar">
      <button class="copybtn" style="background-image:url('{{"img/content-copy.png" | absURL }}')" aria-label="Copy sample code"></button>
      <a href="{{ $url }}" target="_new">
        <button class="downloadbtn" style="background-image:url('{{"img/cloud-download.png" | absURL }}')" aria-label="Download sample code"></button>
      </a>
  </div>
{{- highlight $text $ext $opts -}}
</div>
